.InputsForQuestion{
    display: flex;
    flex-direction: column;
    align-items: center
    
}
button{
    width: 15px;
    height: 10px;
    cursor: pointer;
    background-color: rgb(150, 182, 186);
}
.startBtn{
    width: 50px;
    height: 20px;
    background: linear-gradient(rgb(9, 244, 60), rgb(105, 104, 104)) ;
    color: black;
    letter-spacing: 1px;
    transition: .15s ease-in;
}
.startBtn:hover{
    letter-spacing: 0px;
}
.AddQuestionBtn{
  /* text-decoration: none; */
  width: 120px;
  height: 30px;
  /* display: inline-block; */
  padding: 5px 13px;
  margin: 5px 5px;
  border-radius: 10px;
  box-shadow: 0 0 30px 30px #6FCF97 inset, 0 0 0 0 #4E2ECF;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  letter-spacing: 2px;
  color: #302f2f;
  transition: .30s ease-in;
}
.AddQuestionBtn:hover{
  box-shadow: 0 0 10px 0 #66BD6D inset, 0 0 10px 4px #4E2ECF;
  color: #6F5ADC;
}
input{
    width: 300px;
    height: 50px;
    border:0.5px solid rgb(151, 35, 35);
    border-radius: 10px 5px;
    background-color:#6F5ADC;
    margin: 3px;
    padding-left: 5px;
    color:#ffffff;
}
input::placeholder{
    color: #FFFFFF
}
#inputForSeconds, #inputForMinutes{
     width: 145px !important;
    
}

